<h2 style="color:blue" id="titre">Index</h2>
<button onclick="f();" id="bouton1" style="visibility:visible">Rouge</button>
<div style="display:inline-block">
    <button style="top:150px;left:200px" id="bouton2">Couleur du server</button>
</div>
<script>
    function f() {
        var objetH2 = document.getElementById("titre");
        objetH2.style.color = "red";
        objetH2.innerHTML = "Test de texte";
        var b = document.getElementById("bouton1");
        b.style.visibility = "hidden";
    }
</script>

@section scripts{
    <script>
        $(function () {
            $("#bouton2").click(function () {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:62707/Home/Couleur",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var c = JSON.parse(data);
                        $("titre").html(c[0]);
                        $("#titre").css("color", c[1]);
                    },
                    failure: function (r) { }
                });
            });
        });
    </script>
}